 
html body{overflow: hidden;}

 body{ background:#f6f9fd;}
 .box-shadow-icon .pad3{padding: 2px 3px}
 .bar{background: #f0f0f0; border: none; box-shadow: none }
 .content{ background: #fff}
 .box-shadow{ border-top: 1px solid #E4E4E4;
box-shadow: 1px 1px 1px #ccc;}
.box-shadow-icon{ border-top: 1px solid #E4E4E4; box-shadow: 1px 1px 1px #ccc; background: #fff; border-radius: 3px;}
.mar-t5{ margin-top: 5px}
.mar-t20{ margin-top:20px}

 
a{ color: #474747}
.home-icon-top{ background: url(../images/home-icon.png) 3px 2px no-repeat; height: 29px;  width: 30px; float:left;}
.printer-icon-top{ background: url(../images/printer-icon.png) 5px 3px no-repeat; height: 29px;  width: 35px; float:left;}
.setting-icon-top{ background: url(../images/setting-icon.png) 5px 3px no-repeat; height: 29px;  width: 30px; float:left;}
.text-c{ text-align: center;}
.header-top{ display: inline-block; width: 80%}
.width80p{ width: 80%}
.width100p{ width: 100% !important}
.mar-l10{margin-left: 10px}
.theme-color{background: #a5c5ef}
/* Slider custom styles*/
.slide ul { list-style: none; display: inline-block;   margin-bottom: 3px; padding-left: 0 }
.slide ul li{ float:left;   border-right: 1px solid #e3e8ef;}

.owl-item li{ float:left;   border-right: 1px solid #e3e8ef;}

.owl-item li:last-child(){ background: red}

 
.owl-item li p{color:#fff;}



.slide ul li:last-child{ border: none}
.slide ul li p{margin-top: 9px;
color: #fff;
font-weight: bold;
width: 145px;
line-height: 17px; 
white-space: normal;
}
/*.top-cat-shadow{ border: 8px solid #fff;
box-shadow: 2px 2px 3px 1px #A5A5A5;}*/
.top-cat ul li img, .owl-item li img{border: 8px solid #fff;
box-shadow: 2px 2px 3px 1px #A5A5A5;  }
.home-page-bg{ background:#f6f9fd }
.btn.no-radius{ padding:30px }
.no-radius{ border-radius:0; border: 1px solid #ccc}
.no-radius h4 { font-size: 16px; text-align: left;margin-bottom: 3px}
.no-radius h4 span{ font-size: 14px; font-weight: normal; font-family: Arial}
.mar-t10{ margin-top: 10px}
.mar-t12{ margin-top: 12px}


/*.item
		{
			
			width:86%;
			margin: auto;
			margin-top:10px
			
		}
		*/	
		.breadcrumb
		{
			border: 1px solid #f5f5f5;
			padding: 8px;
			position: relative;;
			z-index:20;
			width:96%;
			margin: 0 auto;			 
			border-radius:4px;
			 margin-top: 10px;
			 
		}
		
		.breadcrumb p
		{
			padding:5px;
			color:#9da1a8;
			font-family:Corbel;
			font-size:13.73px;
			text-align: left;
			font-weight: bold;
			margin-left:10px
			
		}
		
		.item .item-image img
		{ 
			border: 8px solid #fff;
			box-shadow: 0px 0px 6px 4px #e0e0e0;
		}
		
		#takehome ul li
		{			
		   margin:10px !important;
		   border-right:0 !important;
		   padding-left: 0 !important
		}

		#takehome ul 
		{			
		    
		   padding-left: 0 !important
		}

		
		.box-shadow
		{ 
		    box-shadow: 1px 1px 3px 1px #e6e6e6;
		    background: #fff;
		}
		
		.item h3
		{
			color:#8d2525;
			font-family:Century Gothic;
			font-size:20px;
			font-weight:500;
			text-align: left;
		}
		
		.item .slide ul
		{
			margin-top:0px;
		}
		
		 
		
		.item-image p
		{
			
			font-size:12px;
			text-align:center;
			color:#705353;
			font-weight:bold;
			margin-top:5px;
		}
	 
	 .item .slider
	 {
		 background-color: #FFF;
	 }
	 
	 #takehome ul li img{ float:left }
	 
	 .text-c .img-desc{ float:left; clear:both; color:#000; margin-top: 8px; margin-bottom: 8px; width: 151px; white-space: normal}
	 		
		
.content-login{ background-image:url(../images/login-screen.png); background-size:cover; position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: auto;}

.login{ margin-top: 58%;
margin-left: 4%;
margin-right: 35%;
width: 49%;
position: relative;
}
.login_online,.login_offline{
  margin-top: 120px;
  display: inline-block;
  width: 100%;
}  

.copyright{
	position: absolute;
	right: 0;
	bottom: 27px;

}
.enter_passcode{
	color: #2C2C2C;
	margin: 10px 10px 0 0;
}
 
.login input[ type="text"]{  margin-bottom: 30px !important; color:#bbb;}
.login input[ type="password"]{  margin-bottom: 30px !important; color:#bbb;}

.login label{ margin-right: 5%; color:#767676;}
#product ul li img{ border:none; box-shadow: none}
#product ul li { border:none; width: 253px !important; box-shadow: none; margin-left: 2px; text-align: left; position: relative;}
#product ul li span {padding:1px;background-color: rgba(0, 0, 0, 0.5) ;  height: 98.5%;width: 50%;position: absolute;right: 3px;
top: 0;}
#product ul {padding:0;}
.mar-l15{ margin-left: 15px}
#product ul li > span  strong{color: #fff; white-space: normal; display: inline-block; text-align: center;
line-height: 14px; font-size: 12px; margin-top: 14px;}

.qty[type="text"]{position: absolute;z-index: 9999 !important; text-align: center;  left: 47px;width: 30px !important;
padding: 4px;height: 30px;top:140px;}
 .text-c#product{ text-align: left}
.price-tag{position: absolute; text-align: center; padding:4px 8px;border-radius: 10px; left:135px; width:102px;bottom:23px; 
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}
.font16{font-size: 16px}
.font14{font-size: 14px}
/*.checkout-wrapper{ background: #f0f0f0; top: 74px;bottom: 0; right: 20px; left: 9px;
position: absolute;}*/
.width97p{ width: 97%}
.min-icon{ float: right; position: relative; top: -13px; right: -8px}
.mar-l25{ margin-left: 25px}
.clear-b{ clear: both}
.check-head{ background: #e4e4e4; padding: 10px}
.checkout-wrapper table{ width:100%; text-align: left; }
.checkout-wrapper table th{  background:#e4e4e4; font-size: 15px; color:#767676; text-align: left; padding: 7px;border-right: 1px solid #fff }
.checkout-wrapper table td{  font-size: 14px; border-bottom: 1px solid #fff; border-left:1px solid #fff;    color:#767676; text-align: center; padding: 3px 3px 3px 7px;   }
.checkout-wrapper table tr th:nth-child(1){ width:5%}
.checkout-wrapper table tr th:nth-child(2){ width:60%}
.checkout-wrapper table tr th:nth-child(3){ width:10%}
.checkout-wrapper table tr th:nth-child(4){ width:15%}
.checkout-wrapper table tr th:nth-child(5){ width:10%}
 

.toggle {width:70px !important;}
.cart-qty{ width:41px !important; text-align: center; height: 25px !important; margin: 0 !important; padding: 4px !important}
.width30p{ width: 30% !important}
.width40p{ width: 40% !important}
.pad10{ padding: 10px !important}
.text-l{ text-align: left}
.mar-l10{ margin-left: 10px}
.mar-b0{ margin-bottom:0px !important}
.apply-btn{ float: left;
/*margin-top: 5px*/;
margin-left: 20px;
padding:6px 16px;
}

.delete-btn{ float: right;
margin: 0px 0px 0 0;

}

/*.sub-total{text-align: left; margin-left: 173px; width: 309px;}
.sub-total span{ font-size: 13px;display: block; width: 64%; color:#999;}
.sub-total span strong { float:right;}*/

.line-h8{ line-height: 8px; font-size:11px !important }
 
.segmented-control li a{float:left;}
.mycont{  background: #fff;  }
/*.modal.active{z-index: 2}*/
.modal{ top:200px !important;}
.bar{ z-index: 99 !important}

#categories span{ float:left; clear:both; color:#000; margin-top: 8px; margin-bottom: 8px; width: 151px; white-space: normal}
.item #categories img
		{ 
			border: 8px solid #fff;
			box-shadow: 0px 0px 6px 4px #e0e0e0;
			float:left;
		}

 #categories ul li { border: 0; margin-left: 16px }
 #categories ul { padding-left: 0}
.width-auto{ width:auto !important;}



 ul{list-style: none}
.ptn_rel{position: relative}
.ptn{position: absolute!important}
.top_CategoryList{width: 10000px;overflow: hidden;background: #269abc;padding: 15px 0;margin-top: 50px }
.item-list li{margin-left:20px;padding-right: 20px;width: 130px;height: 150px }
.top_CategoryList a{color: #fff}
.header{padding: 10px}
.item-list a:hover{
    cursor: pointer;text-decoration: none}
.product{margin:0 15px 15px 0}
.images_list{
    width:100px;
    height: 100px;
    border:7px solid #fff;
    box-shadow: 2px 2px 4px #ccc;
    margin-bottom: 5px;
}
/* subcategories */
#subCategories_sec{
    position: absolute;
    top: 1200px;
}
.productUnits{
    position: absolute;
    top: 37px;
    width: 100%;
    opacity: 0.5;
    left: -8px;
}
.unitsCount{
    font-size: 70px;
    top:-34px;
}
.item-list a:hover .images_list{
    border-color: #5bc0de;
}
.item-list a:hover .productUnits{
    opacity: 1;
}
.item-list a:hover .unitsCount{
    font-size: 14px;
    top:7px;
}
.item-list a:hover .productUnits{
    background: #fff;
    top:37px;
}
.subcategories{margin-top:200px}
.subcategories li{margin-left:20px;height: 180px;width: 130px}
.animate-enter,
.animate-leave
{
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
.animate-enter {
    left: -100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: 100%;
}
.bg-none{ background: none !important}

#subCatSlider{ width: 85%; margin: 0 auto}

#subCatSlider ul li {
	float: left;
	margin-right: 12px;
	padding-right: 13px;
	width:157px;
}

#subCatSlider ul li:last-child() {
	border-right: 0;
}

#subCatSlider ul li:nth-child(5) {
	border-right: 0;
}

#subCatSlider ul li p{color:#705353;}

/*.mainCategories .owl-item{ width:115px ; text-align: center}
.mainCategories .owl-item p { color:#fff;}

.mainCategories .owl-item{ border-right: 1px solid #fff}
.mainCategories .owl-item:last-of-type{ border-right: none }


.mainCategories .owl-item .item img{ border: 8px solid #fff;
box-shadow: 2px 2px 3px 1px #A5A5A5;}

.mainCategories .owl-wrapper{  
margin-top: 15px;
}

.mainCategories-wrapper{ width:600px; margin:0 auto } */

/*.prodcut-breadcrub{width: 93%;
position: relative;
z-index: 99;
margin-left: 22px;}*/


.prodcut-breadcrub .icon{ left:44px;}
#mySliderContent  ul li p{ color:#fff;} 

#SubSlider #sub-slider {width: 847px !important;
margin: 0 auto !important;
 
display: table;}

#SubSlider #sub-slider ul li p{ color:#705353;} 

#SubSlider #sub-slider ul li {float: left;
margin-right: 12px;
padding-right: 13px;
border-right:none;
width: 157px;
height:215px;
}

#SubSlider #sub-slider ul li:nth-child(5n){ border-right:0;}

.product-names{ display: table;
width: 100%;
padding: 3px;}


.plus-icon {
/* margin-top: 64px; */
/* margin-left: 22px; */
position: absolute;
top:129px;
/* background: red; */
z-index: 9;
 
left: 2px;
padding: 20px 16px; }


.minus-icon {
/* margin-top: 64px; */
/* margin-left: 22px; */
position: absolute;
top:129px;
padding: 20px 16px; 
/* background: red; */
z-index: 9;
right: 2px; }

.sub-cat-slide{ background: #fff;}
.height502{height:481px}
.head-space{padding-top: 16px;
height: 63px}

.bar-nav ~ .content{padding-top:65px !important;}
.checkout-wrapper{
		    display: none ;            
            position: fixed ;
            height: 91%;            
            background: #f0f0f0;
            z-index: 779999;
            bottom: 0;
            width: 100% ;
            }

.chekout-qty-input{ width: 45px !important; text-align: center; margin-top: 5px; margin-bottom: 6px !important}
.chekout-plus-icon{ padding: 6px 19px}
.mar-t65{ margin-top: 65px}
.popup-plus-icon{  background: url(../images/popup-plus-icon.png) no-repeat; height:27px;  width:27px; float:right; margin-right:1px;margin-top:1px;   }
.popup-minus-icon{  background: url(../images/popup-minus-icon.png) no-repeat; height:27px;  width:27px; float:right; margin-right:1px;margin-top:1px;  }
.home-product{ height: 31px !important;
margin-top: 5px !important;
border-radius: 7px !important;}
.font11{ font-size:11px}
.table-number-box{ padding: 0 !important;color:#333;
margin: 0;
width: 36% !important;
margin-right:-23px !important;
height: 29px !important;
padding-left: 5px  !important;
margin-top: 7px;}
.mar-t14{ margin-top: 14px}
.place-order-btn{margin-top: 42px;
width: 29%;
float: left; }
.place-order-overlay{ width: 100%; height: 49%; bottom: 0; position: fixed; background: #fff;box-shadow:  2px 2px 7px 4px #ccc}
.width90p{ width: 92%}
.cash-section{ width: 30%; background:#F0F0F0; padding: 10px; float: left; margin-right: 5px; margin-top: 10px}
.mar-b5{ margin-bottom: 5px}
.height235{ height: 304px}
.place-order-overlay input[type="text"]{ height: 35px !important; font-size: 11px !important; margin-bottom:6px !important; }
.place-order-overlay input[type="text"]:disabled{ background: #F4F4F4 }
.height156{ height: 156px}

.wid30p{
 width: 30%!important
}

.cash-section, .credit_section,.eftpos-section{ width: 30%; background:#F0F0F0; padding: 10px; float: left; margin-right: 5px; margin-top: 10px}
.place-order-overlay p{ margin-bottom: 0 !important }
.place-order-overlay .credit_section p{ margin-top: 2px;
margin-bottom: 5px !important;}
.place-order-overlay .credit_section input[type='text']{ margin-bottom: 2px !important}
/* newly added for resolving bugs */
.bar .btn{
	top: 9px!important;
}
.mar-t15{margin-top: 15px}
.mar-l20{margin-left: 20px}
.text-center{text-align: center!important;}
.clear_r{clear: right}
.wid55{width: 70% }
.wid35px{width:45px!important;}
.clear_l{clear: left}
.mgn-t13px{margin-top: -19px}
.creditMethod input,.cashMethod input{padding: 10px 3px !important}
.text-left{text-align: left!important}
.btn-primary{background: #B26B4B!important;border:1px solid #845039; text-transform: uppercase;}
.theme-color-new{ background: #766259 !important}
.white-color{ color:#fff !important;}
.width50p{width:48%;}
.copy-right{ float: left; font-size: 14px; color:#000;

margin-left: 7%;
margin-top: 1%;}

.height475{height:475px}
.height148{height:148px}
.mar-l74{ margin-left: 74px}

/* loader sec */
.loader_sec{background: #ccc;opacity:0.6;position: relative;display:none;z-index:9000;}
.loader_sec img{position: absolute;top: 50%;left:50%;margin:-8px 0 0 -8px;}
.gray-color-cash{color:#767676 !important}
.hide{display: none!important}
#cashIn{width: 80px!important}
/* refresh button */
.refresh_btn{/*right:10px;margin-top:6px!important;*/}
.width92p{ width: 92% !important}

.refund-btn-home{ background: #B26B4B!important;
  border: 1px solid #845039;
  text-transform: uppercase;
  padding: 13px 9px;
} 
.mar-l1p{ margin-left: 1%}
.width11p{ width: 11% !important}
.width67p{ width:67% !important}
.width59p{ width:59% !important}
.width51p{ width:50% !important}
.refresh_btn{
  /*background:#f0f0f0!important;
  border: 1px solid #ccc;
  text-transform: uppercase;
  color:#999 !important;*/
}

.refund_sec{  float: left; text-align: left; 
  width: 96%;
  margin-left: 2%;
  padding: 20px;
}
.mar-l2p{ margin-left: 3%}

.print-icon, .cash-drawer-icon, .refresh-icon, .settings-icon, .logout-icon{ background: url(../images/print-icon.png) no-repeat; background-position: 4px 2px; height:27px;  width:27px; float:right; margin-right:1px;margin-top:1px;   }
.cash-drawer-icon{ background: url(../images/cash-drawer-icon.png) no-repeat; background-position: 4px 2px;}
.refresh-icon{ background: url(../images/refresh-icon.png) no-repeat; background-position:3px 1px;}
.settings-icon{ background: url(../images/settings-icon.png) no-repeat; background-position:3px 1px;}
.logout-icon{ background: url(../images/logout-icon.png) no-repeat; background-position:3px 1px;}
.mar-r20{margin-right: 20px}
.pad12{ padding: 12px 21px !important}
.coupon-code-wrapper{float: right;
  width: 82%;}
  .width25p{ width: 25% !important;}
.line_itm{
	border-top: 1px dashed #ccc;
  padding-top: 6px;
}
/* web orders */
.cloud-icon {background: url(../images/cloud-icon.png) no-repeat; background-position:3px 1px;}
.cloud-icon { height:27px;  width:27px; float:right; margin-right:1px;margin-top:1px; }

.border-r{ border-right: 1px solid #ccc}
.width17p{ width:17% !important;}
.get-web-orders{ padding:0 !important}
.orders-list{ width:100%; text-align: center; /*margin-top: 10px;*/ float: left; padding:0;}
.get-web-orders{  float: left; text-align: left; display: none; 
  width: 96%;
  margin-left: 2%;
  padding: 20px;
}

/*table.orders-list td{ padding: 10px; border:1px solid #edecec; font-size: 14px;  color: #615D5D;}*/
ul.orders-list li a{ padding: 10px; border:1px solid #edecec; font-size: 14px;  color: #615D5D;width:100%;float: left }

.pad20{ padding: 20px}
.width83p{ width:83%}

table.order-details{width: 100%; border-collapse: collapse;}

.order-details th{  padding: 10px; color: #615D5D; background: #f4f4f4; font-size: 14px; text-align: center; border:1px solid #edecec; }
.order-details td{  padding: 10px; color: #615D5D; border:1px solid #edecec; font-size: 14px; text-align: center;}
.order-details tr:nth-child(even), .orders-list tr:nth-child(even){  background: #f9f9f9  }
.mar-l0{ margin-left: 0 !important}
.mar-l100{ margin-left: 100px !important}
.min-h344{ min-height: 344px}
.width55p{ width:55% }
.header-top{ width: 85% !important}
.width60p{ width: 60% !important}
.pad-r0{padding-right: 0 !important}
.mar-t3{ margin-top: 3px}
.webOrderscount{position: absolute;
  right: -10px;
  top: -9px;
  color: #FFF;
  background: rgb(118, 98, 89);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 21px;
  /* padding: 5px; */
  text-align: center;
  display: none;
}

table.order_details_sec th:first-child, table.order_details_sec td:first-child{ text-align: left;}
.login p strong{ color:#2C2C2C;}
.text-r{ text-align: right}
.width63p{ width: 63% !important}
.width75p{ width:75% !important}
.sub-total{  width: 59%;
  float: right;
 }
.mar-r0{ margin-right: 0}
.width65p{ width:65%;}
.pad-l6{ padding-left: 6px !important}
.font11{ font-size: 11px;}

/* passcoce */
.passcode{  width: 40px!important;}

/*15-04-15 passcode done by raju*/
.get-passcode{ padding:0 !important; display: none}
.orders-list{ width:100%; text-align: center; /*margin-top: 10px;*/ float: left; padding:0;}
.get-passcode{  float: left; text-align: left; 
  width: 96%;
  margin-left: 2%;
  padding: 20px;
  margin-top: 12px;
  /*height: 500px*/
}
.min-h200{ min-height: 200px;
}
.passcode_chk input {
 
  
  text-align: center;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important		
}

.passcode_chk label {float: left;
  width: 16%;
  margin-top: 12px;
}

	
 
ul.app-settings { padding: 0}
ul.app-settings li { text-align: left; cursor: pointer; padding: 10px;
  background: #f1f1f1;
  font-size: 15px;}

.passcode-icon{ background:url(../images/passcode-icon.png) no-repeat;  width: 22px;
  height: 21px;
  float: left;
  margin-right: 10px;
  margin-top: -3px;}
  .font13{font-size: 13px}
  .pad-l0{ padding-left: 0 !important}
  .width33p{ width: 33%}
  .mar-r46{ margin-right:12px}
  .update-btn-setting{float: left;
  width: 62.5%;
}

.width19p{ width: 12%}

.login input[ type="number"]{  margin-bottom: 30px !important; margin-left: 2px; color:#bbb; width:48% !important; text-align: center}



.weborders_Details_sec tbody td:last-child{
	width: 25%;
}
.order_details_sec tbody td:last-child{
	width: 24.4%;
}



.simplePagerNav{position: fixed;left: 0;top: 0}




.holder {
	
}

.holder a {
	font-size: 12px;
  cursor: pointer;
  margin: 0 3px;
  color: #333;
  background: rgb(247, 247, 247);
  padding: 6px 15px;
}

.holder a:hover {
	background-color: #222;
	color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.holder span { margin: 0 5px; }

.height-subcat{height: 467px;
    /*min-height: 437px;*/
  
  overflow-x: scroll;
  }



/* margins */
.mgn-2r{margin-right: 2px!important}



